/* Estilos Gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F6F6F6;
  
}
strong{
  color: silver;
}
li{
  color: #C4AF95;
}
footer a{
  color: #C4AF95;
}

/* Header Section */
.header-section {
  text-align: center;
  padding: 250px 0;
  background: linear-gradient(to right, #D3A01F, #C4AF95);
  border-radius: 0.2cm;
}

.header-section h1 {
  font-size: 36px;
  margin: 0;
}

/* Responsividade do Header */
@media screen and (max-width: 768px) {
  .header-section {
    padding: 90px 0;
  }
}

@media screen and (max-width: 576px) {
  .header-section {
    padding: 90px 0;
  }
}

/* Navbar */
nav.bg-gray-800 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1F2937;
  color: #D1D5DB;
}

nav.bg-gray-800 a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav.bg-gray-800 a:hover {
  background-color: #374151;
  color: #FFFFFF;
}

@media (max-width: 640px) {
  nav.bg-gray-800 {
    flex-direction: column;
    align-items: stretch;
  }

  nav.bg-gray-800 .absolute.left-0 {
    display: block;
  }

  nav.bg-gray-800 .flex {
    display: none;
  }

  nav.bg-gray-800 #mobile-menu {
    display: block;
  }
}

/* Cards */
.card {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  background-color: #f0f0f0;
  transition: box-shadow 0.3s ease;
}
/* card do depoimentos */
.card-depoiments-container {
  display: flex;
  flex-wrap: nowrap; /* Impede que os itens quebrem para a linha seguinte */
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal caso os itens não caibam na tela */
}

.card-depoiments {
  flex: 0 0 300px; /* Define a largura fixa de cada item */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 10px; /* Adiciona margem entre os itens */
  background-color: #f0f0f0;
  transition: box-shadow 0.3s ease;
}

/* .card-depoiments {
  /* width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  background-color: #f0f0f0; 
  transition: box-shadow 0.3s ease; */
  

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Footer */
/* footer {
  text-align: center;
  padding: 20px;
  background-color: #1F2937;
  color: #FFFFFF;
} */

/* WhatsApp Button */
.whatsApp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
}
/* Animação de vibração */
@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(0); }
}

.card:hover {
  animation: shake 0.5s ease-in-out infinite;
}

 