
.search-container {
    margin-bottom: 20px;
    position: relative;
    width: 900px;
    margin-top: -80px;
    margin-left: 750px;
    
}

.search-container input {
    padding: 10px 20px 10px 40px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search-container .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

/* .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

#noResultMessage {
    display: none;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}
@media screen and (max-width: 791px) {
   
    .search-container {
      
      position: relative;
      width: 45px;
      margin-top: -100px;
      margin-left: -300;
      margin-bottom: 20px;
    /* margin-left: 750px; */
           
    }
}
   
  @media screen and (max-width: 791px) {
   
    .search-container input {
        margin-left: -40rem;
        padding: 10px 20px 10px 40px;
        width: 650%;
        /* font-size: 16px; */
        border: 1px solid #ccc;
        border-radius: 25px;
        /* background-color: red; */
    }

  }
  @media screen and (max-width: 622px) {
   
    .search-container .fa-search {
        position: absolute;
        top: 50%;
        left: -400px;
        transform: translateY(-50%);
        color: #aaa;
    }
      
  }

  
  
